@{
    ViewData["Title"] = "Simple MRZ Reader tool";
}
<div class="container">
    <div class="jumbotron">
        <h3>MRZ Reader web tool!</h3>
        <p>Welcome to the MRZ - Simple passport MRZ reader</p>
    </div>
    <div class="jumbotron">
        <h3>OCR API!</h3>
        <p>MRZ Application uses the <a href="https://www.ocrsdk.com/" target="_blank">Abbyy OCR</a> to read the MRZ data from passport.</p>
    </div>
    <div class="jumbotron">
        <h3>DevOps [CD & CI]!</h3>
        <p>MRZ Application is hosted on <a href="https://azure.microsoft.com/en-gb/" target="_blank">Azure</a></p>
        <p>Simply, clone the code, do some changes then push back to GitHub, the project will be built and deployed in few seconds.</p>
    </div>
    <div class="jumbotron">
        <h3>Source Control!</h3>
        <p>MRZ Application reposirtory is on <a href="https://github.com/MustafaMahgoub/MRZReader" target="_blank">GitHub</a></p>
        <p>It is public repository, public users can download/clone/fork the source code</p>
    </div>
    <div class="jumbotron">
        <h3>Design Patterns!</h3>
        <p>Mediator pattern <a href="https://en.wikipedia.org/wiki/Mediator_pattern" target="_blank">Read more about Mediator Pattern</a></p>
        <p>DotNet Core implementation for mediator pattern <a href="https://github.com/jbogard/MediatR" target="_blank">MediatR</a></p>
    </div>
    <div class="jumbotron">
        <h3>Logging!</h3>
        <p>Using <a href="https://nlog-project.org" target="_blank">NLog</a> for logging</p>
        <p>Using <a href="https://www.baremetalsoft.com/baretail/" target="_blank">Bare Tail</a> for live log view, it is very cool tool.</p>
        <p>Current log location is set c:\temp\logs\mrz, please change it to a location of your choice or use {basedir} to log to the solution running folder.</p>
        <p>Current log level is set to Trace.</p>
    </div>
</div>

