@{
    ViewData["Title"] = "Simple MRZ Reader tool";
}
<div class="container">
    <div class="jumbotron">
        <h3>MRZ Reader web tool!</h3>
        <p>Welcome to the MRZ - Simple passport MRZ reader</p>
    </div>
    <div class="jumbotron">
        <h3>Register and Login!</h3>
        <p>You must register and login to be able to use the application</p>
        <p>The registration form is very simple</p>
    </div>
    <div class="jumbotron">
        <h3>OCR API!</h3>
        <p>MRZ Application uses the <a href="https://www.ocrsdk.com/" target="_blank">Abbyy OCR</a> to read the MRZ data from passport.</p>
    </div>
    <div class="jumbotron">
        <h3>KYC - Trulioo!</h3>
        <p>Time was not enough to finish the Trulioo, however the code and the integration infrastructure has all done and ready to use.</p>
        <p>Account and API Key created on Trulioo</p>
        <p>Http client is ready and Authentication successfully tested</p>
        <p>Next, is to figure out what we need from Trulioo</p>
    </div>
    <div class="jumbotron">
        <h3>Coding Style</h3>
        <p>While I am not expert on F#, however I have learnt amazing technique. I create one object that will live from begging to end. The object will go through a pipeline or chain of method.</p>
        <p>Each method will set the stage for the following method.</p>
        <p>The method can either be executed or ignored based on the previous method in the chain.</p>
        <p>Happy to explain more.</p>
        </div>
    <div class="jumbotron">
        <h3>DevOps [CD & CI]!</h3>
        <p>MRZ Application is hosted on <a href="https://azure.microsoft.com/en-gb/" target="_blank">Azure</a></p>
        <p>Simply, clone the code, do some changes then push back to GitHub, the project will be built and deployed in few seconds.</p>
    </div>
    <div class="jumbotron">
        <h3>Source Control!</h3>
        <p>MRZ Application repository is here <a href="https://github.com/MustafaMahgoub/MRZReader" target="_blank">GitHub</a></p>
        <p>It is public repository, public users can download/clone/fork the source code</p>
    </div>
    <div class="jumbotron">
        <h3>Design Patterns!</h3>
        <p>Mediator pattern <a href="https://en.wikipedia.org/wiki/Mediator_pattern" target="_blank">Read more about Mediator Pattern</a></p>
        <p>DotNet Core implementation for mediator pattern <a href="https://github.com/jbogard/MediatR" target="_blank">MediatR</a></p>
    </div>
    <div class="jumbotron">
        <h3>Application Database!</h3>
        <p>The application stores its data in SQL Server which is located on the Azure platform</p>
        <p>You will not have access to the database, however I am happy to show you the schema/data</p>
    </div>
    <div class="jumbotron">
        <h3>Unit and Integration Testing!</h3>
        <p>I have used <a href="https://nsubstitute.github.io/" target="_blank">NSubstitute</a> as mocking framework</p>
        <p>I wish I had more time, I would test every single function</p>
    </div>
    <div class="jumbotron">
        <h3>Logging!</h3>
        <p>Using <a href="https://nlog-project.org" target="_blank">NLog</a> for logging</p>
        <p>Using <a href="https://www.baremetalsoft.com/baretail/" target="_blank">Bare Tail</a> for live log view, it is very cool tool.</p>
        <p>Current log location is set c:\temp\logs\mrz, please change it to a location of your choice or use {basedir} to log to the solution running folder.</p>
        <p>Current log level is set to Trace.</p>
    </div>
    <div class="jumbotron">
        <h3>Enhancements!</h3>
        <p>application currently only supports the "Must Have", however the application`s design is flexible to scale up so we add more functionalities over the time such as the "Nice To Have". For example :</p>
        <p>Add more unit and integration testing</p>
        <p>Add API Gateway</p>
        <p>Allow multiple file processing.</p>
    </div>
</div>

