@{
    ViewData["Title"] = "Success";
}
<div class="text-center">
    <h1 class="display-3 text-success">Thank You!</h1>
    <h3 class="lead text-success"><strong>Document has been successfully uploaded and processed</strong></h3>
    <p>
        View all Documents? <a href="">Documents Home Page</a>
    </p>
    <hr>
    <p class="lead">
        <a class="btn btn-primary btn" href="Index" role="button">Continue to homepage</a>
    </p>
</div>
