<?xml version="1.0" encoding="utf-8" ?>

<!--To generate the logs where project runs use:  "${basedir}/Logs/" OR You a location of your own choice-->
<nlog xmlns="http://www.nlog-project.org/schemas/nlog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="c:\temp\logs\mrz\internal-nlog-perm.txt">
	<targets>

		<!-- File target -->
		<target xsi:type="File"
		        name="allfile"
		        fileName="c:\temp\logs\mrz\current.log"
		        archiveFileName="c:\temp\logs\mrz\archives-{#}.log"
		        archiveNumbering="Date"
		        archiveDateFormat="yyyy-MM-dd"
		        archiveOldFileOnStartup="true"
		        deleteOldFileOnStartup="true"
		        archiveEvery="Day"
		        maxArchiveFiles="15" />


		<!-- Database target -->
		<!--<target name="database"
		        xsi:type="Database"
		        connectionStringName="MRZReaderDBConnection"
		        commandText="exec dbo.InsertLog
                          @level,
                          @callSite,
                          @type,
                          @message,
                          @stackTrace,
                          @innerException,
                          @additionalInfo">
			<parameter name="@level" layout="${level}" />
			<parameter name="@callSite" layout="${callsite}" />
			<parameter name="@type" layout="${exception:format=type}" />
			<parameter name="@message" layout="${exception:format=message}" />
			<parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
			<parameter name="@innerException" layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
			<parameter name="@additionalInfo" layout="${message}" />
		</target>-->

	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>