<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="file" xsi:type="File" fileName="${basedir}/Logs/nlog-all-${shortdate}.log" />
		<target xsi:type="File"
		        name="file"
		        fileName="${basedir}/Logs/nlog-all-${shortdate}.log"
		        archiveFileName="${basedir}/Logs/archive_{#}.log"
		        archiveNumbering="Date"
		        archiveDateFormat="yyyy-MM-dd"
		        archiveOldFileOnStartup="true"
		        deleteOldFileOnStartup="true"
		        archiveEvery="Day"
		        maxArchiveFiles="15"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<!-- database target -->
		<!--<target name="database"
		        xsi:type="Database"
		        connectionStringName="MRZReaderDBConnection"
		        commandText="exec dbo.InsertLog
                          @level,
                          @callSite,
                          @type,
                          @message,
                          @stackTrace,
                          @innerException,
                          @additionalInfo">
			<parameter name="@level" layout="${level}" />
			<parameter name="@callSite" layout="${callsite}" />
			<parameter name="@type" layout="${exception:format=type}" />
			<parameter name="@message" layout="${exception:format=message}" />
			<parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
			<parameter name="@innerException" layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
			<parameter name="@additionalInfo" layout="${message}" />
		</target>-->
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />		
		<!--<logger levels="*" name="databaseLogger" writeTo="database"/>-->
	</rules>
</nlog>